@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<HeartTalk.Models.Note>

@foreach (var note in Model)
{
    <div>
        <p>@note.Content</p>
        <p>Posted on: @note.DatePosted</p>
    </div>
}


<div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" dir="rtl"></textarea>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
